@using Dinheiro.GoogleAnalytics
@{
    ViewBag.Title = "Dinheiro.GoogleAnalytics Examples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dinheiro.GoogleAnalytics</h1>

<p>ASP.NET MVC Helpers for Google Analytics</p>

@using (Html.BeginForm("ChangeTrackingType", "Home"))
{
    <p>
        <select id="TrackingType" name="TrackingType">
            <option value="@GoogleAnalyticsTrackingType.ga_js" @(GoogleAnalytics.TrackingType == GoogleAnalyticsTrackingType.ga_js ? "selected" : null)>Asynchronous</option>
            <option value="@GoogleAnalyticsTrackingType.analytics_js" @(GoogleAnalytics.TrackingType == GoogleAnalyticsTrackingType.analytics_js ? "selected" : null)>Universal</option>
        </select>
        <input type="submit" value="Update"/>
    </p>
}

<ul>
    <li>@Html.ActionLink("Home", "Index")</li>
    <li>@Html.ActionLink("Virtual Page URLs", "VirtualPageUrl")</li>
    <li>@Html.ActionLink("Track an event", "TrackEvent")</li>
    <li>@Html.ActionLink("Track an event using query parameters", "TrackEventFromParameters", 
                       new { 
                               category = "Product",
                               eventAction = "View",
                               label = "ES123456",
                               value = 3
                           })</li>
    <li>@Html.ActionLink("Track a social action", "TrackSocial")</li>
    <li>@Html.ActionLink("Track an ecommerce order", "TrackEcommerce")</li>
</ul>

<h2>Google Analytics script output:</h2>
<pre>
    @GoogleAnalytics.Render().ToString()
</pre>